<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <p> Copyright © <%= new Date().getFullYear(); %> </p>
</footer>

<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

</body>

</html>